@model List<ListingViewModel>

<div class="row">
    @if (Model.Any())
    {
        foreach (var article in Model)
        {

            <div class="card">
                <img src="@article.ImageUrl" alt="@article.Title" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="card-text">Category: @article.Category</p>
                    <p class="card-text">Author: @article.Author</p>
                    <p class="card-text">Date: @article.Date</p>

                    <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        }
    }
</div>

