@model ArticleDetailsViewModel

@{
    ViewBag.Title = "Article Details";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">@Model.Title</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p>@Model.Category</p>
        <p>@Model.Author</p>
        <p>@Model.Date</p>
        <div>
            @Html.Raw(@Model.Content);
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="row">
                <a asp-area="Administration" asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Article</a>
                <a asp-area="Administration" asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete Article</a>
            </div>
        }
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Fitness Diary
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->