@using FitnessDiary.Core.Contracts
@model ArticleDetailsViewModel
@inject IArticleService articleService

@{
    ViewBag.Title = "Article Details";
}

<div class="mb-5">
    <h2 class="text-center mb-5">@Model.Title</h2>

<div class="row mb-5">
    <label class="h4 col-4">Author: @Model.Author  </label>
    <label class="h4 col-4">Date: @Model.Date.Date.ToString("dd/MM/yyyy")</label>
    <label class="h4 col-4">Category: @articleService.GetCategoryName(Model.CategoryId)</label>
</div>

<div class="text-center mb-5">
    <img src="@Model.ImageUrl" alt="@Model.Title" width="400" height="400">
</div>
<!-- /.card-header -->

<div class="mb-5">
    @Html.Raw(@Model.Content)
</div>
@if (User.IsInRole("Admin"))
{
    <div class="text-center mb-5">
        <a asp-area="Administration" asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Article</a>
        <a asp-area="Administration" asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete Article</a>
    </div>
}
</div>
