@model IEnumerable<AllUsersViewModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Username</label></th>
            <th><label>Email</label></th>
            <th><label>Role</label></th>
            <th><label>Type</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Username</label></td>
                <td><label>@user.Email</label></td>

                @if (user.Role != string.Empty)
                {
                    <td>
                        <label>@user.Role</label>
                    </td>
                }
                else
                {
                    <td>
                        <label class="text-center">None</label>
                    </td>

                }
                <td>@user.AccountType</td>
            </tr>
        }
    </tbody>
</table>

