@model IEnumerable<ListingViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 text-center bg-image rounded-3 mb-3" style="
    background-image: url('https://www.wallpapertip.com/wmimgs/191-1913940_weight-lifting-hd.jpg');
    width:100%;
    height: 400px;
  ">
    <div>
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">FitnessDiary</h1>
                <h4 class="mb-3">Start recording your success!</h4>
                <a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Register"  role="button">Register</a>
            </div>
        </div>
    </div>
</div>
<div class="text-center mb-3">
    <h2>Latest Articles</h2>
</div>
<div class="col-md-8 offset-md-2 mb-3">

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col">
                <div class="card card-info">
                    <div class="card-header">
                        <h5 class="card-title">@article.Title</h5>
                    </div>
                    <img src="@article.ImageUrl" alt="@article.Title" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Category: @article.Category</p>
                        <p class="card-text">Author: @article.Author</p>
                        <p class="card-text">Date: @article.Date</p>

                        <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<div class="text-center mb-5">
    <a asp-area="" asp-controller="Article" asp-action="All" class="btn btn-info">All Articles</a>
</div>
