@using FitnessDiary.Infrastructure.Data.Enums
@model             FitnessDiary.Core.Models.Recepie.AddRecipeViewModel

@{
    ViewBag.Title = "Create New Recepie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container">
<form>
        <div>
            <h5 style="color:#ff6347">Recipe</h5>
            <hr />
            <div class="form-horizontal">
                <input type="hidden" id="CustomerId" />
                <div class="form-group">
                    <input type="hidden" id="userId" value="@Model.UserId"/>

                    <label asp-for="Name" class="control-label col-md-2">
                        Recipe Name
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Name" type="text" id="name" name="name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <label asp-for="ServingsSize" class="control-label col-md-2">
                        Servings
                    </label>
                    <div class="col-md-4">
                        <input asp-for="ServingsSize" type="text" id="servings" name="description" class="form-control" />
                        <span asp-validation-for="ServingsSize" class="text-danger"></span>
                    </div>
                    <label asp-for="ImageUrl" class="control-label col-md-2">
                        Image Url
                    </label>
                    <div class="col-md-4">
                        <input asp-for="ImageUrl" type="text" id="image" name="image" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table id="ingredientsTable" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <td class="d-none">Id</td>
                        <td>Food Name </td>
                        <td>Amount </td
                    </tr>
                    <tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="addNewIngredient()">Add Ingredient </button>
            <button id="saveRecipe" type="submit" class="btn btn-primary">Save Recipe </button>
        </div>
    </form>
</div>

<div class="modal fade" id="ingredientsModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Ingredient</h4>
            </div>

            <div class="modal-body">

                <h5 style="color:#ff6347">Exercise Details</h5>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Choose Food
                        </label>
                        <div class="col-md-4">
                            <select  class="form-select" id="food" >
                                @foreach (var food in @Model.Foods)
                                {
                                    <option value="@food.Id">@food.Name - @food.Type - @food.Calories  @((MeassureUnitType)food.MeassureUnit)</option>
                                }
                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            Amount
                        </label>
                        <div class="col-md-4">
                            <input type="text"  id="amount" class="form-control"/>
                        </div>
                       
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveIngredient" type="submit" class="btn btn-danger">Save Ingredient</button>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function addNewIngredient() {
            $("#ingredientsModal").modal();
        }
        $("#saveIngredient").click(function(e) {
            e.preventDefault();

            if ($.trim($("#amount").val()) == "" ) {
                return alert("Amount is required")
            }
            if ($.trim($("#amount").val()) <= 0) {
                return alert("Amount must be a positive number!")
            }

            
            var foodId = $('#food').find(":selected").val();
            let foodData = $('#food').find(":selected").text();
            let amount = $("#amount").val();
            let ingredientsTableBody = $("#ingredientsTable tbody");

            var ingredient = document.createElement('tr');
            var idTd = document.createElement('td');
            idTd.textContent = foodId;
            idTd.style.display = 'none';
            var foodTd = document.createElement('td');
            foodTd.textContent = foodData;

            var amountTd = document.createElement('td');
            amountTd.textContent = amount;

            ingredient.appendChild(idTd);
            ingredient.appendChild(foodTd);
            ingredient.appendChild(amountTd);

            ingredientsTableBody.append(ingredient);

            amount.val = '';
        });

        $("#saveRecipe").click(function(e) {
            e.preventDefault();

            var ingredientsArr = [];
            ingredientsArr.length = 0;

            $.each($("#ingredientsTable tbody tr"), function() {
                ingredientsArr.push({
                    FoodId: $(this).find('td:eq(0)').html(),
                    Amount: $(this).find('td:eq(2)').html(),
                });
            });

            var data = {
                Name: $("#name").val(),
                ServingsSize: $("#servings").val(),
                ImageUrl: $("#image").val(),
                UserId: $("#userId").val(),
                Ingredients: ingredientsArr
            };

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                method: 'POST',
                url: "/Recepie/Add",
                data: JSON.stringify(data),
                success: function(result) {
                    window.location = "https://localhost:7043/Recepie/Mine";
                }
            });
        });
        
    </script>
}
