@model DetailsViewModel

@{
    ViewBag.Title = "Recipe Details";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">@Model.Name Details</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <p>Servings @Model.ServingsSize</p>
        <h3>Ingredients:</h3>
        <ul>
            @foreach (var item in @Model.Ingredients)
            {
                <li>@item.Name - @item.Amount</li>
            }
        </ul>
        <h3>Nutrition:</h3>
        <ul>
            <li>Total Calories: @Model.TotalCalories</li>
            <li>Calories per serving: @Model.CaloriesPerPortion</li>
            <li>Per Serving Carbs: @Model.Carbs</li>
            <li>Per Serving Proteins: @Model.Protein</li>
            <li>Per Serving Fats: @Model.Fats</li>
        </ul>
        <div class="row">
            <a asp-controller="Recepie" asp-action="AddIngredient" asp-route-id="@Model.Id" class="btn btn-primary">Add more ingredients</a>
            <a asp-controller="Recepie" asp-action="RemoveIngredient" asp-route-id="@Model.Id" class="btn btn-primary">Remove ingredients</a>
            <a asp-controller="Recepie" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Recipe</a>
            <a onclick='DeleteRecipe(&quot;@Model.Id&quot;);' class="btn btn-primary">Delete Recipe</a>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Fitness Diary
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
@section Scripts{
    <script>
        function DeleteRecipe(id) {
            let isConfirmed = confirm('Are you sure you want to delete this item ?');
            if (isConfirmed) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    url: "https://localhost:7043/Recepie/Delete",
                    data: JSON.stringify(id),
                    success: function(result) {
                        window.location = "https://localhost:7043/Recepie/Mine";
                    }
                });
            }
        };
    </script>
}