@model EditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">@ViewBag.Title @Model.Name</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Recepie" asp-action="Edit" method="post">
            <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input id="name" asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ServingsSize" class="form-label">ServingSize</label>
                <input id="servings" asp-for="@Model.ServingsSize" class="form-control" value="@Model.ServingsSize" />
                <span asp-validation-for="ServingsSize" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <ul>
                    @for (int i = 0; i < Model.Ingredients.Count; i++)
                    {
                        <lavel>@Model.Ingredients[i].Name</lavel>
                      

                        @Html.HiddenFor(modelItem => Model.Ingredients[i].Id)
                        @Html.HiddenFor(modelItem => Model.Ingredients[i].Name)
                        @Html.EditorFor(modelItem => Model.Ingredients[i].Amount)
                    }
                </ul>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>


    </div>
</div>