@model IdexViewQueryModel

@{
    ViewBag.Title = "Your records for";
}


<h1 class="text-center">@ViewBag.Title @Model.CurrentDayDate</h1>

<h3>Breakfast</h3>
<ul class="list-group">
    @foreach (var serving in Model.Breakfast)
    {
        <li class="list-group-item">
            @serving.Name
            @serving.Amount
            @serving.Nutrition.Calories,
            @serving.Nutrition.Carbs,
            @serving.Nutrition.Protein,
            @serving.Nutrition.Fats,
            <a asp-controller="Diary" asp-action="RemoveServing" asp-route-id="@serving.Id" type="btn">Remove</a>
        </li>
    }
</ul>
<h3>Lunch</h3>
<ul class="list-group">
    @foreach (var serving in Model.Lunch)
    {
        <li class="list-group-item">
            @serving.Name
            @serving.Amount
            @serving.Nutrition.Calories,
            @serving.Nutrition.Carbs,
            @serving.Nutrition.Protein,
            @serving.Nutrition.Fats,
            <a asp-controller="Diary" asp-action="RemoveServing" asp-route-id="@serving.Id" type="btn">Remove</a>
        </li>
    }
</ul>
<h3>Dinner</h3>
<ul class="list-group">
    @foreach (var serving in Model.Dinner)
    {
        <li class="list-group-item">
            @serving.Name
            @serving.Amount
            @serving.Nutrition.Calories,
            @serving.Nutrition.Carbs,
            @serving.Nutrition.Protein,
            @serving.Nutrition.Fats,
            <a asp-controller="Diary" asp-action="RemoveServing" asp-route-id="@serving.Id" type="btn">Remove</a>
        </li>
    }
</ul>
<h3>Snack</h3>
<ul class="list-group">
    @foreach (var serving in Model.Snack)
    {
        <li class="list-group-item">
            @serving.Name
            @serving.Amount
            @serving.Nutrition.Calories,
            @serving.Nutrition.Carbs,
            @serving.Nutrition.Protein,
            @serving.Nutrition.Fats,
            <a asp-controller="Diary" asp-action="RemoveServing" asp-route-id="@serving.Id" type="btn">Remove</a>
        </li>
    }
</ul>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Food
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Diary" asp-action="AddFromDatabase">From Database</a>
        <a class="dropdown-item" asp-controller="Diary" asp-action="AddFromMine">From My Foods</a>
        <a class="dropdown-item" asp-controller="Diary" asp-action="AddRecipe">Add My Recipe</a>
    </div>
</div>
<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th></th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Proteins</th>
            <th>Fats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Totals</td>
            <td>@Model.NutritionStatistics.CurrentNutrition.Calories</td>
            <td>@Model.NutritionStatistics.CurrentNutrition.Carbs</td>
            <td>@Model.NutritionStatistics.CurrentNutrition.Protein</td>
            <td>@Model.NutritionStatistics.CurrentNutrition.Fats</td>

        </tr>
        <tr>
            <td>Required</td>
            <td>@Model.NutritionStatistics.RequiredNutrition.Calories</td>
            <td>@Model.NutritionStatistics.RequiredNutrition.Carbs</td>
            <td>@Model.NutritionStatistics.RequiredNutrition.Protein</td>
            <td>@Model.NutritionStatistics.RequiredNutrition.Fats</td>
        </tr>
    </tbody>
</table>
<div>
    @if (Model.Workout == null)
    {
        <p>You don't have workout for today yet!</p>
        <a asp-controller="Workout" asp-action="MineTamplates">Add workout</a>
    }
    else
    {
        <p>Workout Name: @Model.Workout.Name</p>
        <p>Workout Description: @Model.Workout.Name</p>
        <p>Exercises: @Model.Workout.Exercises.Count</p>
        <ul>
            @foreach (var exercise in @Model.Workout.Exercises)
            {
                <li>
                    <p>Exercise: @exercise.Name</p>
                    <p>BodyPart: @exercise.BodyPart</p>
                    <p>Sets: @exercise.Sets.Count</p>
                    <ol>
                        @foreach (var set in exercise.Sets)
                        {
                            <li>
                                <p>Reps: @set.Reps Load: @set.Load</p>
                            </li>
                        }
                    </ol>
                </li>
            }
        </ul>

        <a asp-controller="Workout" asp-action="EditWorkout" asp-route-id="@Model.Workout.Id">Change Workout Data</a>
    }
</div>

