@using FitnessDiary.Infrastructure.Data.Enums
@model AllFoodsQueryModel
@{
    ViewBag.Title = "All foods";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">All</option>

                    @foreach (var type in Model.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" >
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Name</option>
                    <option value="1">Type</option>
                    <option value="2">Calories</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Food"
           asp-action="All"
           asp-route-currentPage="@Model.PreviousPage"
           asp-route-brand="@Model.Type"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == Model.MaxPage ||
        !Model.Foods.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Food"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Type"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">My Foods</h3>
    </div>

    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Calories</th>
                    <th>Carbs</th>
                    <th>Proteins</th>
                    <th>Fats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var food in Model.Foods)
                {
                    <tr>
                        <td>@food.Type</td>
                        <td>@food.Name</td>
                        <td>@((MeassureUnitType)food.MeassureUnit)</td>
                        <td>@food.Calories</td>
                        <td>@food.Carbohydtrates</td>
                        <td>@food.Proteins</td>
                        <td>@food.Fats</td>
                        @if (User?.IsInRole("User") ?? false)
                        {
                            <td><button class="btn btn-primary" onclick="AddToDiary(&quot;@food.Id&quot;)">Add to Diary</button></td>
                        }
                        @if ((User?.IsInRole("Admin") ?? false) || (User?.IsInRole("Moderator") ?? false))
                        {
                            <td><a asp-area="" asp-controller="Food" asp-action="Edit" asp-route-id="@food.Id" class="btn btn-primary" >Edit</a></td>
                            <td><button class="btn btn-primary" onclick='DeleteFood(&quot;@food.Id&quot;);'>Delete</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="servingModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add To Diary</h4>
            </div>

            <div class="modal-body">

                <h5 style="color:#ff6347">Serving Details</h5>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Choose Serving Category
                        </label>
                        <div class="col-md-4">
                            <select class="form-select" id="category">

                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Snack">Snack</option>

                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            Amount
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="amount" class="form-control" />
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" id="close">Close</button>
                    <button id="addServing" type="submit" class="btn btn-danger">Add Serving</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function AddToDiary(id) {
            $("#servingModal").modal('show');

            $('#addServing').click(function(e) {
            e.preventDefault();
            let idParam = id;
            let category = $('#category').find(":selected").val();
            let amount = $('#amount').val();

            let data = {
                Id: idParam,
                Category: category,
                Amount: amount
            };

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                method: 'POST',
                url: "/Diary/AddFoodServing",
                data: JSON.stringify(data),
                success: function() {
                    window.location = "https://localhost:7043/Diary/Index";
                }
            });
        })
        };
       
        $('#close').click(function() {
            $("#servingModal").modal('hide');
        })
        function DeleteFood(id) {
            let isConfirmed = confirm('Are you sure you want to delete this item ?');
            if (isConfirmed) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    url: "https://localhost:7043/Food/Delete",
                    data: JSON.stringify(id),
                    success: function(result) {
                        window.location = "https://localhost:7043/Food/All";
                    }
                });
            }
        };
    </script>
}