@model DetailsViewModel

@{
    ViewBag.Title = "Recipe Details";
}

<h3 class="text-center mb-5">@ViewBag.Title</h3>

<div class="d-flex justify-content-center">
    <div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">@Model.Name Details</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <img class="rounded mx-auto d-block" src="@Model.ImageUrl" alt="Card image cap" width="400" height="400">
    <div class="card-body">
        <h3><b>Servings:</b> @Model.ServingsSize</h3>
        <h3><b>Ingredients:</b></h3>
        <ul>
            @foreach (var item in @Model.Ingredients)
            {
                <li>Name: @item.Name - Amount: @item.Amount</li>
            }
        </ul>
        <h3><b>Nutrition:</b></h3>
        <ul>
            <li><b>Calories per serving:</b> @Model.CaloriesPerPortion</li>
            <li><b>Per Serving Carbs:</b> @Model.Carbs</li>
            <li><b>Per Serving Proteins:</b> @Model.Protein</li>
            <li><b>Per Serving Fats:</b> @Model.Fats</li>
        </ul>
        <div >
            <a asp-controller="Recipe" asp-action="AddIngredient" asp-route-id="@Model.Id" class="btn btn-primary">Add more ingredients</a>
            <a asp-controller="Recipe" asp-action="RemoveIngredient" asp-route-id="@Model.Id" class="btn btn-primary">Remove ingredients</a>
            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Recipe</a>
            <a onclick='DeleteRecipe(&quot;@Model.Id&quot;);' class="btn btn-primary">Delete Recipe</a>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Fitness Diary
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
</div>
@section Scripts{
    <script>
        function DeleteRecipe(id) {
            let isConfirmed = confirm('Are you sure you want to delete this item ?');
            if (isConfirmed) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    url: "https://localhost:7043/Recipe/Delete",
                    data: JSON.stringify(id),
                    success: function(result) {
                        window.location = "https://localhost:7043/Recipe/Mine";
                    }
                });
            }
        };
    </script>
}